/* Footer.css */

/* Layout.css */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  width: 100%;
}

.layout main {
  flex: 1;
  padding: 20px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
